.text-white {
    margin-left: 1rem;
}
.col-md-4 {
    display: flex;
    justify-content: center;
}
.titulo {
    margin-top: 1.5rem;
}
.card {
    margin-top: 1.5rem;
    box-shadow: 5px 5px 15px rgb(73, 73, 73);
    transition: transform 0.3s ease;
    padding: 0.5rem;
}
.card:hover {
    transform: scale(1.05);
 }
.card-text {
    font-size: 14pt;
}
#titulo-navegador {
    width: 120rem;
    height: 12rem;


    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(218, 218, 218);
}
footer {
    width: 100%;
    height: 5rem;
    margin-top: 3rem;
    text-align: center;
    font-size: 12pt;
}